<table class="table">
  <tr>
      <th>
        Welcome : {{employee.firstName}} {{employee.lastName}} of {{employee.circleName}}
      </th>
  </tr>
</table>
<h3>Requests</h3>


<table class="table">
  <thead>
    <tr>
      <th>REQUEST ID</th>
     <th>MEDICINE</th>
      <th>SYMPTOM</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!employee.requestMeds.length">
      <td colspan="5">Loading...</td>
    </tr>
    <tr  *ngFor="#request of employee.requestMeds">
      <td>{{request.requestId}}</td>
    <td>{{request.medicine.medicineName}}</td>
      <td>{{request.symptom.symptomName}}</td>       
    </tr>
  </tbody>
</table>
